.emojiContainer {
    display: flex;
    align-items: center;
    color: #1a202c;
}
span.emoji {
    cursor: pointer;
    /* vertical-align: middle; */
    /* text-align: center; */
    /* line-height: 2; */
    /* background-color: palevioletred; */
}
p.count {
    /* vertical-align: middle; */  
}
